@import "@styles/_utils.scss";

body {
  scroll-behavior: smooth;
  
  background-color: var(--color-grey-light-1);

  width: 100vw;


  & {
    #root {
      display: flex;
      justify-content: center;
      align-items: center;

      flex-direction: column;

      & .section-about {
        max-width: 125rem;

      }

      & .section-features, & .section-book, & .section-testimonials, & .footer {
        width: 100vw;
      }
    }
  }
  
  overflow-x: hidden;
  
  & > * {
    overflow-x: hidden;

    max-width: 100%;
  }
}

@font-face {
  font-family: "Recursive Sans Casual Static";
  src: url('../assets/fonts/Recursive_VF_1.085.woff2');
}

@font-face {
  font-family: "Recursive Mono Casual Static";
  src: url('../assets/fonts/Recursive_VF_1.085.woff2');
}

:root {
  --color-primary        : #55c57a;
  --color-primary-light  : #7ed56f;
  --color-primary-dark   : #28b485;
  --color-grey-light-1   : #f7f7f7;
  --color-grey-light-2   : #eee;
  --color-grey-dark      : #7f7f7f;
  --color-grey-dark-2    : #999;
  --color-white          : #fff;
  --color-black          : #333;
  --color-dark           : #181818;
  --color-secondary-light: #ffb900;
  --color-secondary-dark : #ff7730;
  --color-tertiary-light : #2998ff;
  --color-tertiary-dark  : #5643fa;

  --rgbcolor-primary     : 85, 197, 122;
  --rgbcolor-primary-dark: 40, 180, 133;


  --font-mono: "Recursive Mono Casual Static", "Consolas", monospace;
  --font-sans: "Recursive Sans Casual Static", "Space Grotesk", sans-serif;


  font-family: var(--font-sans);

}

::selection {
  background-color: var(--color-primary);
  color           : var(--color-white);
}