@import "@styles/mixins.scss";

.section-features__feature-box {

  flex-shrink: 0;

  flex: 1;

  display       : flex;
  flex-direction: column;
  align-items   : center;
  text-align    : center;

  min-width: 15rem;
  max-width: 15rem;

  @media (max-width: 640px) {
    min-width: 23rem;
    max-width: 23rem;
  }



  background-color: var(--color-white);
  opacity         : .8;

  padding: 1rem;

  @include box-shadow;

  &:hover {
    transform : translateY(-.5rem) scale(1.1);
    @include box-shadow(var(--rgbcolor-primary));
  }

  transition: transform .5s,
  box-shadow .5s;

  &__icon {
    font-size: 3.5rem;

    // TODO: change to font icon for gradient icon
    // color                     : linear-gradient(0deg, hsla(111, 55%, 64%, 1) 18%, hsla(160, 64%, 43%, 1) 100%);
    // background-clip           : text;
    // -webkit-background-clip: text;
    // color                     : rgba(0, 0, 0, 0);

    color: var(--color-primary-dark);
  }

  &__heading {
    margin-top: 1rem;
  }

  &__text {
    // text-wrap : balance;
    margin-top: .5rem;

    text-align: justify;
  }
}