.section-hero {

  text-align: center;

  position : absolute;
  top      : 50%;
  left     : 50%;
  transform: translate(-50%, -50%);

  width: 100%;

  &__title {
    color         : var(--color-white);
    text-transform: uppercase;

    font-weight: 900;
    font-size  : 6rem;

    letter-spacing: 1rem;

    background-image       : linear-gradient(0deg, hsla(111, 55%, 64%, 1) 18%, hsla(160, 64%, 43%, 1) 100%);
    background-clip        : text;
    -webkit-background-clip: text;
    color                  : transparent;

    animation: moveInLeft 1s ease-out;

    margin-bottom: 1rem;

    &:hover {
      transform: scale(1.2);
    }

    transition: transform .4s;
  }

  &__subtitle {
    color         : var(--color-white);
    text-transform: uppercase;

    font-weight: 400;
    font-size  : 1.2rem;

    letter-spacing: 0.58rem;

    animation: moveInRight 1s ease-out;

    &:hover {
      letter-spacing: 0.7rem;
    }

    transition: letter-spacing .4s;
  }

  &__cta-button {
    display: inline-block;

    margin-top: 5rem;

    text-transform: uppercase;

    font-size: 1.3rem;

    color: var(--color-white);
    background-color: var(--color-primary);

    &:hover {
      transform: scale(1.1);
    }

    transition: transform 0.2s;

    animation: moveInBottom 1s ease-out;
  }


}