.nav {
  &__nav {
    margin-right: 2rem;
  }

  &__list {
    list-style: none;

    display: flex;
    gap    : 2rem;
  }

  &__item {
    font-size     : 1.2rem;
    font-weight   : 600;
    text-transform: uppercase;

    padding: 1rem;

    &:hover {
      transform: scale(1.1);
    }

    transition: transform 0.2s;
  }

  &__link {
    text-decoration: none;
    color          : var(--color-white);
    font-weight    : 500;
  }

  @media (max-width: 800px) {
    &__nav {
      display: none;
    }
  }
}