.section-about {
  margin: 0 5rem;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-black);
}
.section-about > div {
  margin-top: 5rem;
  display: flex;
  gap: 5rem;
}
.section-about__text-content {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.section-about__text-content > div:not(:first-of-type) {
  margin-top: 3rem;
}
.section-about__text-content div > p {
  margin-top: 1rem;
  color: var(--color-black);
  text-align: justify;
}
.section-about__text-content a {
  display: inline-block;
  margin-top: 2rem;
  align-self: flex-end;
}
.section-about__img-gallery {
  width: 50%;
  position: relative;
}
.section-about__img-gallery:hover .image-container:not(:hover) {
  transform: scale(0.9);
}

.image-container:hover {
  transform: translate(0, -0.5rem) scale(1.5);
  box-shadow: 0 0 5rem rgba(var(--rgbcolor-primary), 0.5);
  z-index: 1;
}
.image-container:nth-of-type(1) {
  top: 0;
  left: 0;
}
.image-container:nth-of-type(2) {
  top: 50%;
  right: 10%;
}
.image-container:nth-of-type(3) {
  top: 10%;
  right: 0;
}
.image-container:nth-of-type(4) {
  top: 30%;
  left: 10%;
}