.section-hero {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-hero__title {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 6rem;
  letter-spacing: 1rem;
  background-image: linear-gradient(0deg, hsl(111, 55%, 64%) 18%, hsl(160, 64%, 43%) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: moveInLeft 1s ease-out;
  margin-bottom: 1rem;
  transition: transform 0.4s;
}
.section-hero__title:hover {
  transform: scale(1.2);
}
.section-hero__subtitle {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0.58rem;
  animation: moveInRight 1s ease-out;
  transition: letter-spacing 0.4s;
}
.section-hero__subtitle:hover {
  letter-spacing: 0.7rem;
}
.section-hero__cta-button {
  display: inline-block;
  margin-top: 5rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  transition: transform 0.2s;
  animation: moveInBottom 1s ease-out;
}
.section-hero__cta-button:hover {
  transform: scale(1.1);
}