@import "./mixins.scss";

.u-text-highlight {
  color: var(--color-primary);
}

.btn {
  padding: 1.2rem;

  text-decoration: none;

  color           : var(--color-black);
  background-color: var(--color-white);

  font-family: var(--font-mono);

  border-radius: 0.5rem;

  text-align: center;

  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  transition: transform 0.2s,
  color 0.2s,
  background-color 0.2s;
}

.btn-text {

  &:link,
  &:visited {
    text-decoration: none;
    color          : var(--color-primary);
  }

  &:hover {
    text-decoration: underline;
  }

  cursor: pointer;
}

.height-collapsed {
  max-height: 0px;
}

.height-expanded {
  max-height: 100rem;
}

/* #region  Typography */
.heading-secondary {
  display: inline-block;

  text-transform: uppercase;
  font-size     : 3.5rem;
  font-weight   : 700;
  letter-spacing: 0.3rem;

  @include gradient-text;

  transition: transform .4s, text-shadow .4s;

  &:hover {
    transform: scale(1.1);
  }
}

.heading-tertiary {
  font-size     : 1rem;
  text-transform: uppercase;
  font-weight   : 700;
}

/* #endregion */

/* #region  animations */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes unveil {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    opacity  : 0;
    transform: translate(-10rem, -1rem);
  }

  80% {
    transform: translate(1rem);
  }

  100% {
    opacity  : 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity  : 0;
    transform: translate(10rem, 1rem);
  }

  80% {
    transform: translate(-1rem);
  }

  100% {
    opacity  : 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity  : 0;
    transform: translate(0, 3rem);
  }

  80% {
    transform: translate(0, -1rem);
  }

  100% {
    opacity  : 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity  : 0;
    transform: translate(0, -3rem);
  }

  80% {
    transform: translate(0, 1rem);
  }

  100% {
    opacity  : 1;
    transform: translate(0);
  }
}

@keyframes slightDown {
  0% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform        : scale(2);
    -webkit-filter   : blur(4px);
    filter           : blur(4px);
    opacity          : 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform        : scale(1);
    -webkit-filter   : blur(0px);
    filter           : blur(0px);
    opacity          : 1;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity       : 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity       : 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}


/* #endregion */