.footer {
  padding: 2rem 0;

  display       : flex;
  flex-direction: column;

  align-items: center;

  background-color: var(--color-dark);

  &__logo {

    & img {
      width: 10rem;

      transition: transform 0.4s;

      animation: spin 5s linear infinite;
      transform-origin: center;
    }

    // &:hover img {
    //   transform: scale(1.1);
    // }

  }

  &__brand-name {
    text-align: center;

    color         : white;
    text-transform: uppercase;

    font-size  : 1.8rem;
    font-weight: 700;

    background-image       : linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    background-clip        : text;
    -webkit-background-clip: text;
    color                  : transparent;
  }

  &__socials {
    margin-top: 2rem;

    display: flex;

    justify-content: space-between;

    & .socials__link {
      color: white;

      &:link, &:visited {
        color: white;
      }

      font-size: 1.5rem;
    }
  }

  &__links {
    margin-top: 3rem;

    padding: 0 1rem;

    width: 100%;

    display: flex;

    justify-content: center;

    position: relative;

    &::before {
      content: "";

      position: absolute;

      padding: 0 1rem;

      top : 100%;
      left: 0;

      width : 100%;
      height: 1px;

      background-color: var(--color-white);
    }

    &::after {
      content: "";

      position: absolute;

      padding: 0 1rem;

      top : 0%;
      left: 0;

      width : 100%;
      height: 1px;

      background-color: var(--color-white);
    }
  }

  &__legal {
    margin-top: 3rem;

    color: var(--color-white);

    font-size: 1rem;

    & a {
      color: inherit;
    }
  }
}