.header {
  &__nav-container {
    display        : flex;
    justify-content: space-between;
    align-items    : center;

    @media (max-width: 800px) {
      justify-content: center;
    }
  }

  width: 100%;

  height: 100vh;

  position: relative;

  &::before {
    content: "";

    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;

    // filter: blur(5px);

    background-image   : linear-gradient(to right bottom, rgba(black, 0.8), rgba(var(--rgbcolor-primary-dark), 0.8)), url("../assets/hero.jpg");
    background-position: center;

    filter: blur(1px);

    background-size: cover;

    z-index: -1;
  }

  animation: unveil 1s ease-out forwards 1s;

  @media (max-width: 1300px) {
    animation: none;
  }

  &__logo-box {
    display: inline-block;
    margin : 1rem;

    transition: transform 0.2s;

    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation        : puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;


    @media (max-width: 800px) {
      position: absolute;

      top: 10%;
    }
  }

  &__logo {
    height: 3rem;
  }
}

.cta-text {
  text-decoration: none;
  color          : var(--color-black-2);

  position: absolute;
  right   : 1rem;
  bottom  : 1rem;

  font-size: 2rem;

  animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both 1.5s;

  &__pointer {
    display  : inline-block;
    animation: slightDown 1s infinite ease-in-out alternate;
  }

  @media (max-width: 730px) {
    font-size  : 1.2rem;
  }

  @media (max-width: 1300px) {
    color: white;
  }
}