.section-tours {
  margin-top: 7rem;

  display       : flex;
  flex-direction: column;
  align-items   : center;

  width: 100%;

  color: var(--color-black);

  &>* {
    margin: 1.5rem 0;
  }

  &__search-box {
    display: flex;

    gap: 2rem;

    & .search-box__input {
      width        : 100%;
      border       : 2px solid var(--color-grey-dark-2);
      border-radius: .375rem;
      font-size    : 1rem;
      padding      : 1rem 2rem;

      font-family: var(--font-sans);

      transition: .5s;

      &:focus {
        border-color: var(--color-primary);
        outline     : none;
      }
    }
  }

  &__tour-container {
    display        : flex;
    justify-content: center;

    flex-wrap: wrap;

    gap: 1rem;

    width: 80vw;

    &:hover .tour-card:not(:hover) {
      transform : scale(.9);
      box-shadow: 0 0 4rem rgba(black, .4);
    }
  }

  &__pagination {

    margin-bottom: 3rem;

    display: flex;

    justify-content: center;

    align-items: center;

    gap: .5rem;

    cursor: pointer;

    & .btn.is-active {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }
}